[Unit]
Description=Run AFR pusher daily at fixed time

[Timer]
# Server local timezone.
OnCalendar=*-*-* 16:30:00
AccuracySec=1s
Persistent=true
Unit=afr-pusher.service

[Install]
WantedBy=timers.target
