[Unit]
Description=Run AFR pusher every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=1min
Persistent=true
Unit=afr-pusher.service

[Install]
WantedBy=timers.target
